<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>

            <ion-select (ionChange)="selectionChanged($event)">
                <ion-select-option value="0" [selected]="true">All Books</ion-select-option>
                <ion-select-option value="1">Favorites</ion-select-option>
                <ion-select-option value="2">Shared with me</ion-select-option>
                <ion-select-option value="3">By Authors</ion-select-option>
            </ion-select>
        </ion-buttons>
        <ion-buttons slot="end" style="margin-right: 5%;">
            <ion-icon name="menu" (click)="presentPopover($event)"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar animated showCancelButton="never" autocomplete="true" (ionInput)="searchInputChanged($event)"
                   (ionChange)="searchChanged($event)"></ion-searchbar>
    <ion-list *ngIf="filteredBooks && !areSharedBooks">
        <ion-item *ngFor="let book of filteredBooks">
            <!--<ion-avatar slot="start">
                <img src="./avatar-finn.png">
            </ion-avatar>-->
            <ion-label (click)="openBook(book)">{{book.fileName}}</ion-label>
            <ion-icon name="menu" (click)="showBookPopover($event, book)"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="areSharedBooks">
        <ion-item *ngFor="let sharedBook of sharedBooks">
            <!--<ion-avatar slot="start">
                <img src="./avatar-finn.png">
            </ion-avatar>-->
            <ion-label (click)="openBook(sharedBook.bookDTO)">{{sharedBook.bookDTO.fileName}} from
                {{connectionMap.get(sharedBook.fromUser).username}}
            </ion-label>
            <ion-icon name="menu" (click)="showBookPopover($event, book)"></ion-icon>
        </ion-item>
    </ion-list>
    <app-authors-list *ngIf="showAuthors" [books]="books"></app-authors-list>
</ion-content>
