<ion-header translucent>
    <ion-toolbar>
        <ion-title>Connections</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="isOkToRender">
        <ion-item *ngFor="let connection of receivedConnections">
            <ion-label>{{usersMap.get(connection.firstUserId).username}}</ion-label>
            <ion-button (click)="acceptInvite(connection)">Accept Invite</ion-button>
        </ion-item>
    </ion-list>
    <ion-label *ngIf="!isOkToRender">
        No pending invites
    </ion-label>
</ion-content>