<ion-header>
    <ion-toolbar>
        <ion-title>Bookmarks</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismissModal(null)">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list *ngIf="bookmarksDTOList.length > 0">
        <ion-item *ngFor="let bookMark of bookmarksDTOList">
            <ion-label (click)="dismissModal(bookMark.cfi)">{{bookMark.percentage}} % of book</ion-label>
        </ion-item>
    </ion-list>
</ion-content>